<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="../../stylesheet/style.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Cormorant+SC:wght@300;400&family=Quicksand&family=Righteous&family=Roboto:wght@100;300;400&family=Square+Peg&family=Uchen&display=swap" rel="stylesheet">
<link rel="icon" href="/img/favicon (1).ico" type="image/x-icon">

</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Just Tech News<div class="divider"></div><span class="slogan"> Tech is our passion</span></a>
      </h1>
        
        {{#if loggedIn}}
        
         <nav>
          <a href="/dashboard">Dashboard</a>
          <button id="logout" class="btn-no-style"><a href="/login">Logout</a></button>
        </nav>

        {{else}}
        <nav>
      <a href="/login" id="login" class="log-nav">Login</a>
        </nav>
        {{/if}}
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
   {{/if}}
</body>

</html>