<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="../../stylesheet/style.css"/>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Just Tech News<div class="divider"></div><span class="slogan"> Tech is our passion</span></a>
      </h1>
        <nav>
      <a href="/login" id="login" class="log-nav">Login</a>
        </nav>
        <nav>
      <a href="/signup" class="sign-nav">Sign-up</a>
        </nav>
         <nav>
          <button id="logout" class="btn-no-style"><a href="/login">Logout</a></button>
        </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  <script src="/javascript/logout.js"></script>
</body>

</html>