<section class="new-post">
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
        <div class="user_pic user-profile"><div class="userName">{{user.username}}</div></div>
      <label for="post-title create-title"></label>
      <input type="text" id="post-title" name="post-title" placeholder="Title"/>
    </div>
    <div>
      <label for="post-url"></label>
      <input id="post-url" name="post-url" placeholder="URL Link"/>
    </div>
    <div>
      <label for="post-text create-text"></label>
      <input type="text" id="post-text" name="post-text" placeholder="Message"/>
    </div>
    <button type="submit" class="btn create-btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>
<!--id and name = post-title create-title-->