<form class="login-form">
        <div class="login">
        <h2>Login</h2>
        <div class="divider2"></div>
    </div>
    <section class="inputs">
        <div>
          <label for="email-login"></label>
          <input type="text" id="email-login" placeholder="Email"/>
        </div>
        <div>
          <label for="password-login"></label>
          <input type="password" id="password-login" placeholder="Password"/>
        </div>
        </section>
        <div>
          <button type="submit">Login</button>
        </div>
        <div class="signup-link">Don't have an account yet? <a href="/signup">Sign-up</a></div>
      </form>
     <script src="/javascript/login.js"></script>