 <form class="signup-form">
        <div class="signup">
        <h2>Register</h2>
        <div class="divider3"></div>
    </div>
    <div>
        <input type="text" id="username-signup" placeholder="Username"/>
    </div>
        <div>
          <label for="email-login"></label>
          <input type="email" id="email-signup" placeholder="Email"/>
        </div>
        <div>
          <label for="password-login"></label>
          <input type="password" id="password-signup" placeholder="Password"/>
        </div>
        <div>
          <button class="signup-btn" type="submit">Sign up</button>
        </div>
        <div class="login-link">Already have an account? <a href="/login"> Login</a></div>
      </form>
       <script src="/javascript/signup.js"></script>