{{> single-post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body" class="comment-body" placeholder="Add a Comment..."></textarea>
  </div>

  <div>
    <button type="submit" class="comment-btn">add comment</button>
   <button type="button" class="upvote-btn like-button">🤍 {{post.vote_count}} </button>
  </div>
  
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}